<div class="modal fade" id="addStateModal" tabindex="-1" role="dialog" aria-labelledby="addStateModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title align-center" id="exampleModalLabel">ADD FACILITY FORM</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control form-control-user" id="facilityName" name="facilityName" aria-describedby="emailHelp" placeholder="Enter Facility Name">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control form-control-user" name="facilityType" id="facilityType" placeholder="Facility Type">
                        </div>
                        <a href="index.html" class="btn btn-primary btn-user btn-block">
                            ADD FACILITY
                        </a>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
