<!DOCTYPE html>
<html>
  <head>
    <title>Unicef Application</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <% state.forEach((st)=>{%>
    <h1><%= st.code %>||<%= st.name %></h1>
  <%})%>
    <p>Welcome to </p>
  </body>
</html>
